
/* Style the navigation bar */
.navbar {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    text-align: center;
    overflow: hidden;
}

.navbar a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 0; /* Adjust padding to create vertical spacing */
    display: block; /* Make the links stack on top of each other */
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #555; /* Touch-friendly hover state */
}

.navbarH {
    background-color: rgb(255, 255, 255);
    display: block;
    justify-content: space-around;
    padding: 10px 0;
    text-align: center;
}

.navbarH a {
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-decoration: none;
    padding: 10px 0; /* Adjust padding to create vertical spacing */
    display: block; /* Make the links stack on top of each other */
    transition: background-color 0.3s;
}

.navbarH a:hover {
    background-color: #555; /* Touch-friendly hover state */
}



/* styles.css */
body {
    display: block;
    margin: 8px;
}

h1 {
    font-family: 'Dela Gothic One'; /* Specify the font family */
    font-size: 36px; /* Adjust the font size as needed */
    color: rgb(0, 0, 0); /* Text color */
    text-align: center; /* Center-align the text */
    margin-top: 20px; /* Add some top margin for spacing */
    font-weight: bold; /* Make the text bold */
}
/* styles.css */
h2 {
    font-family: 'Dela Gothic One'; /* Specify the font family */
    font-size: 24px; /* Adjust the font size as needed */
    color: #666; /* Text color */
    font-weight: bold; /* Make the text bold */
    margin-top: 15px; /* Add top margin for spacing */
}

/* styles.css */
p {
    font-family: 'Exo 2'; /* Specify the font family */
    font-size: 16px; /* Adjust the font size as needed */
    color: #333; /* Text color */
    line-height: 1.5; /* Adjust line height for better readability */
}
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
material-icons{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

caption {
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}


button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

h1.hidden {
    color: red;
    position: absolute;
    left: -9999px;
}

body.hidden {
    position: absolute;
    left: -9999px;
}

/* Centered Skip Nav */
.skip-link {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: black;
    color: white;
    opacity: 0;
}
.skip-link:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}
.pic {
    width: 100%;
}
/* Card */
.card {
    grid-area: aside1;
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    margin: 10px;
    float: left;
}

.cardA {
    grid-area: aside1;
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    margin: 10px;
    float: left;
}

.card img {
    width: 100%;
    height: auto;
}
.card-content {
    padding: 20px;
}


/* details */

/* Flexbox/Responsive */

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    padding: .2em 0;
}

p {
    margin: 1.8em 0;
    line-height: 1.8em;
}
/* header
nav,
main,
aside {
    padding: 1.5em;
} */

header, 
footer {
    text-align: center;
}

/* Lab_04 grid/media screens */
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    display: grid;
    /* width: 100vw;
    height: 100vw; */
    grid-template-columns: 
    1fr        2fr      1fr;
    grid-template-areas: 
    "heady      heady       heady"
    "navvy      navvy       navvy"
    "aside1     mainy       aside2"
    "aside1     mainy       aside2"
    "aside1     mainy       aside2"
    "footy      footy       footy";
}

header {grid-area: heady; background: rgb(255, 255, 255);}
nav {grid-area: navvy; background: rgb(0, 0, 0);}
main {grid-area: mainy; background: rgb(255, 255, 255); max-height: 100%;}
#aside1 {grid-area: aside1; background: rgb(255, 255, 255);}
#aside2 {grid-area: aside2; background: rgb(0, 0, 0);}
footer {grid-area: footy; background: rgb(255, 255, 255);}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
nav ul li {
    list-style: none;
}

/* Tablet like */
@media screen 
    and (min-width: 641px)
    and (max-width: 900px)  {
    .container {
        align-items: center;
        grid-template-columns: 
        1fr         1fr;
        grid-template-areas: 
        "heady  heady"
        "navvy  navvy"
        "mainy  mainy"
        "aside1 aside1"
        "footy  footy";
    }
    
    /* Style the navigation bar */
    .navbar {
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
        text-align: center;
    }

    .navbar a {
        color: #fff;
        font-size: 18px;
        text-decoration: none;
        padding: 10px 0; /* Adjust padding to create vertical spacing */
        display: block; /* Make the links stack on top of each other */
        transition: background-color 0.3s;
    }

    .navbar a:hover {
        background-color: #555; /* Touch-friendly hover state */
    }

    .navbarH {
        background-color: rgb(255, 255, 255);
        display: block;
        justify-content: space-around;
        padding: 10px 0;
        text-align: center;
    }

    .navbarH a {
        color: rgb(0, 0, 0);
        font-size: 24px;
        text-decoration: none;
        padding: 10px 0; /* Adjust padding to create vertical spacing */
        display: block; /* Make the links stack on top of each other */
        transition: background-color 0.3s;
    }

    .navbarH a:hover {
        background-color: #555; /* Touch-friendly hover state */
    }

}
/* small mobile */
@media screen 
     and (max-width: 640px) {
    .container {
        grid-template-columns: 
        1fr;
        grid-template-areas:
        "heady"
        "navvy"
        "mainy"
        "aside1"
        "aside2"
        "footy";
    }
    .navbar {
        background-color: rgb(0, 0, 0);
        display: block;
        justify-content: space-around;
        padding: 10px 0;
        text-align: center;
    }
    
    .navbar a {
        color: #fff;
        font-size: 18px;
        text-decoration: none;
        padding: 10px 0; /* Adjust padding to create vertical spacing */
        display: block; /* Make the links stack on top of each other */
        transition: background-color 0.3s;
    }
    
    .navbar a:hover {
        background-color: #555; /* Touch-friendly hover state */
    }
     }